.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.row-gap-24 {
  row-gap: 24px;
}

.content_view {
  background-color: $white_color;
  border-radius: 0.3rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

// Btns 
.btn-green {
  background-color:$green-color;
  color: white;
  &:hover {
    color: white;
    background-color:$green-color-hover;
  }
}