.main-navbar {
  padding: 10px 8px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 6px;
  .tog-nav {
    font-size: 30px;
    display: flex;
    cursor: pointer;
  }
  .list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    .icon-nav {
      &.notice {
        .badge-count {
          position: absolute;
          right: -11px;
          top: -4px;
          width: 16px;
          height: 16px;
        }
        .dropdown-toggle {
          position: relative;
          &::after {
            display: none;
          }
        }
      }
      font-size: 20px;
    }
  }
}
